# Generate PO tracking file

In [2]:
season = "2023FW"
print(season)

2023FW

## Write header for new Shipment Tracking.xlsx file

In [3]:
from openpyxl import Workbook
from openpyxl.styles import PatternFill, Border, Side, Alignment, Protection, Font
thin = Side(border_style = "thin", color = "000000")
thick = Side(border_style = "thick", color = "0033CCCC")
POtrack = Workbook()
POtrack1 = POtrack.active
POtrack1.title = season
POtrack1.merge_cells("A1:J3")
POtrack1["A1"] = season + " China to Global Shipment Tracking"
POtrack1["A1"].font = Font(size = 22, bold = True)
POtrack1["A1"].alignment = center = Alignment(horizontal = "center", vertical = "center", wrap_text = True)
POtrack1.merge_cells("K1:L1")
POtrack1["K1"] = "Country/region"
POtrack1["K1"].alignment = center
POtrack1.merge_cells("K2:L2")
POtrack1["K2"] = "Container"
POtrack1["K2"].alignment = center
POtrack1.merge_cells("K3:L3")
POtrack1["K3"] = "Shipment Details"
POtrack1["K3"].alignment = center
POtrack1.merge_cells("M1:O1")
POtrack1["M1"] = "CA/US"
POtrack1["M1"].font = header = Font(size = 16, bold = True)
POtrack1["M1"].alignment = center
POtrack1["M1"].fill = PatternFill("solid", fgColor = "00008000")
POtrack1.merge_cells("P1:R1")
POtrack1["P1"] = "UK"
POtrack1["P1"].font = header 
POtrack1["P1"].alignment = center
POtrack1["P1"].fill = PatternFill("solid", fgColor = "003366FF")
POtrack1.merge_cells("S1:U1")
POtrack1["S1"] = "DE"
POtrack1["S1"].font = header 
POtrack1["S1"].alignment = center
POtrack1["S1"].fill = PatternFill("solid", fgColor = "00FF9900")
POtrack1.merge_cells("V1:X1")
POtrack1["V1"] = "CN Initial Reserve"
POtrack1["V1"].font = header 
POtrack1["V1"].alignment = center
POtrack1["V1"].fill = PatternFill("solid", fgColor = "00FF0000")
POtrack1.merge_cells("Y1:AA1")
POtrack1["Y1"] = "Wholesaler"
POtrack1["Y1"].font = header 
POtrack1["Y1"].alignment = center
POtrack1["Y1"].fill = PatternFill("solid", fgColor = "00339966")
head = ["PO#",	"CAT", "Season", "Factory", "Total PO in Pcs", "Name", "SKU", "Seasons", "Colour/Graphic(EN)", "Colour/Graphic(CN)", "Remain. in Pcs", "Remain. in %"] + ["PO Plan", "Remain. in Pcs", "Remain. in %"]*5
for col in range(1, 28):
     POtrack1.cell(4, col).value = head[col-1]
     POtrack1.cell(4, col).font = Font(size = 11, bold = True)
     POtrack1.cell(4, col).alignment = center
     POtrack1.cell(4, col).fill = PatternFill("solid", fgColor = "00FFCC00")
     POtrack1.cell(4, col).border = Border(top = thin, bottom = thin, left = thin, right = thin)
POtrack1.row_dimensions[1].border = Border(bottom = thin)
POtrack1.row_dimensions[2].border = Border(bottom = thin)
POtrack1.row_dimensions[3].border = Border(bottom = thin)
POtrack1.column_dimensions['J'].border = Border(right = thin)
POtrack1.column_dimensions['M'].border = Border(left = thick)
POtrack1.column_dimensions['P'].border = Border(left = thick)
POtrack1.column_dimensions['S'].border = Border(left = thick)
POtrack1.column_dimensions['V'].border = Border(left = thick)
POtrack1.column_dimensions['Y'].border = Border(left = thick)
POtrack.save("../PO/" + season + " China to Global Shipment Tracking.xlsx")

## Input PO

In [4]:
import pandas as pd
import numpy as np
import os
import re
from glob import glob
from openpyxl import Workbook
from openpyxl import load_workbook
print(season)

2023FW

#### Read in factory code file and convert to dictionary

In [5]:
factory = pd.read_excel("../PO/1-MasterSKU_CatPrintsFactory.xlsx", sheet_name = 3, skiprows = 2, engine = "openpyxl")
factory.drop(columns = ["Unnamed: 3", "Unnamed: 8", "Unnamed: 9"], inplace = True) 
factory.rename(columns = {"Unnamed: 2": "JSMY"}, inplace=True)
factory["id"] = factory.index
factory = pd.melt(factory, id_vars = "id")
factory.dropna(axis = 0, how = "any")
factory = pd.Series(factory.variable.values, index = factory.value).to_dict()
print(factory)

{'BRC': 'JSKF', 'BTL': 'JSKF', 'BTP': 'JSKF', 'BTT': 'JSKF', 'SWS': 'JSKF', nan: 'JSZT', 'AAA': 'JSMY', 'ACA': 'JSMY', 'ACB': 'JSMY', 'AJS': 'JSMY', 'AHJ': 'JSMY', 'HAV0': 'JSMY', 'HCA0': 'JSMY', 'HCB0': 'JSMY', 'HCF0': 'JSMY', 'HJS': 'JSMY', 'HXP': 'JSMY', 'HBS': 'JSMY', 'HAD0': 'JSMY', 'UT1': 'JSMY', 'UG1': 'JSMY', 'UJ1': 'JSMY', 'UV2': 'JSMY', 'USA': 'JSMY', 'BCV': 'JSMY', 'WJA': 'JSMY', 'WJT': 'JSMY', 'WPF': 'JSMY', 'WPS': 'JSMY', 'WSF': 'JSMY', 'WSS': 'JSMY', 'WBF': 'JSMY', 'KEH': 'JSMY', 'KMT': 'JSMY', 'FJM': 'JSMY', 'FMR': 'JSMY', 'FPM': 'JSMY', 'FSM': 'JSMY', 'XBM': 'JSMY', 'XBK': 'JSMY', 'XLB': 'JSMY', 'XWG': 'JSMY', 'BSA': 'JSMY', 'BSW': 'JSMY', 'IHT': 'JSMY', 'SKB': 'ZJZJ', 'SKG': 'ZJZJ', 'SJF': 'ZJZJ', 'SPW': 'ZJZJ', 'BTB': 'ZJZJ', 'SKX': 'ZJZJ', 'SKT': 'ZJZJ', 'SSS': 'ZJZJ', 'SSW': 'ZJZJ', 'GUA': 'XMRZ', 'GUX': 'XMRZ', 'GHA': 'XMRZ', 'GBX': 'XMRZ', 'WMT': 'JSTQ', 'WRM': 'JSTQ', 'WGS': 'JSTQ', 'ICP': 'JSZT', 'IPS': 'JSZT', 'ISS': 'JSZT', 'ISB': 'JSZT', 'APE': 'JSZT', 'AJA': 'JSZT', 'DRC': 'JSZT', 'LBT': 'JSZT', 'LBP': 'JSZT', 'LAN': 'JSZT', 'LAB': 'JSZT'}

#### Read in masterSKU file

In [6]:
masterSKU = pd.read_excel("../PO/1-MasterSKU-All-Product-2023-11-07.xlsx", sheet_name = 0, skiprows = 1, header = 2, index_col = 9, usecols = "B:M", engine = "openpyxl")
masterSKU.head()

,MSKU Status,Seasons,Seasons SKU,Print SKU,Print Name,Print Chinese,Print Fabric,Size,Category SKU,Adjust SKU,UPC Active
MSKU,,,,,,,,,,,
AAA-AGR-M,Active,"23S,22S,21S","23S,22S,21S",AGR,Army Green,军绿色,NaN,M,AAA,AAA-AGR-M,804928020603
AAA-AGR-L,Active,"23S,22S,21S","23S,22S,21S",AGR,Army Green,军绿色,NaN,L,AAA,AAA-AGR-L,804928020610
AAA-BLK-M,Active,"23S,22S,21S","23S,22S,21S",BLK,Black,黑色,NaN,M,AAA,AAA-BLK-M,804928020641
AAA-BLK-L,Active,"23S,22S,21S","23S,22S,21S",BLK,Black,黑色,NaN,L,AAA,AAA-BLK-L,804928020658
AAA-GRA-M,Active,"23S,22S,21S","23S,22S,21S",GRA,Grey,灰色,NaN,M,AAA,AAA-GRA-M,804928020627

### Read in main PO tracking file

In [7]:
POtrack = load_workbook("../PO/" + season + " China to Global Shipment Tracking.xlsx")[season]
POtrack_df = pd.DataFrame(POtrack.values)
PO_r = POtrack_df.shape[0]
(Detail_r, Detail_c) = POtrack_df.where(POtrack_df.eq("Total PO in Pcs")).stack().index.tolist()[0]
(T_r, T_c) = POtrack_df.where(POtrack_df.eq("Country/region")).stack().index.tolist()[0]
(CA_r, CA_c) = POtrack_df.where(POtrack_df.eq("CA/US")).stack().index.tolist()[0]
(UK_r, UK_c) = POtrack_df.where(POtrack_df.eq("UK")).stack().index.tolist()[0]
(DE_r, DE_c) = POtrack_df.where(POtrack_df.eq("DE")).stack().index.tolist()[0]
(CN_r, CN_c) = POtrack_df.where(POtrack_df.eq("CN Initial Reserve")).stack().index.tolist()[0]
(WS_r, WS_c) = POtrack_df.where(POtrack_df.eq("Wholesaler")).stack().index.tolist()[0]
print(PO_r, Detail_c, T_c, CA_c, UK_c, DE_c, CN_c, WS_c)
print(POtrack_df.iloc[3,])

4 4 10 12 15 18 21 24
0                    PO#
1                    CAT
2                 Season
3                Factory
4        Total PO in Pcs
5                   Name
6                    SKU
7                Seasons
8     Colour/Graphic(EN)
9     Colour/Graphic(CN)
10        Remain. in Pcs
11          Remain. in %
12               PO Plan
13        Remain. in Pcs
14          Remain. in %
15               PO Plan
16        Remain. in Pcs
17          Remain. in %
18               PO Plan
19        Remain. in Pcs
20          Remain. in %
21               PO Plan
22        Remain. in Pcs
23          Remain. in %
24               PO Plan
25        Remain. in Pcs
26          Remain. in %
Name: 3, dtype: object

### Read in PO files

In [8]:
# Function: Search value in dataframe, and find the next n non-empty cell
def next_non_empty(df, value, dim, n):
    mask = df.applymap(lambda x: str(value) in str(x)).to_numpy()
    if mask.any():
        r, c = np.argwhere(mask)[0]
    else:
        return df.shape[0]+1, df.shape[1]+1
    if dim == "row":
        for row in range(r+n, df.shape[0]):
            if df.iloc[row, c] is not np.nan: 
                return row, c
                break
    if dim == "col": 
        for col in range(c+n, df.shape[1]):
            if df.iloc[r, col] is not np.nan:
                return r, col
                break

In [9]:
POn = ["P" + str(n) for n in range(283, 284)]
print(POn)

['P283']

In [10]:
file = [y for x in os.walk("../PO/order/") for y in glob(os.path.join(x[0], POn[0] + "*.xlsx"))]
name = re.sub('\\\.*', '', re.sub('.*/'+POn[0]+' - ', '', file[0]))
print(file, name)

['../PO/order/P283 - Taiwan - LBS LAN to JSZT - 23F add on\\P283 - Taobaby(Taiwan) - LBT LBP LAN- Thermal Base Layer Top and Pant - 23F add on.xlsx'] Taiwan - LBS LAN to JSZT - 23F add on

In [11]:
PO = pd.read_excel(file[0], sheet_name = 0, engine = "openpyxl", header = None)
total = PO.iloc[next_non_empty(PO, "OrderTotal", "col", 1)]
PO.head(11)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,NEW 新,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,订单总数量 OrderTotal:,1710,NaN,NaN,NaN,NaN
1,C/O 旧,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,其中，LBT+LBP:,1560,NaN,NaN,NaN,NaN
2,password to protect sheet = TWK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,LAN:,150,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MARKETING/KEVIN FILL THIS OUT\n(only fill in w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,銷售(照相)樣,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,台湾 订单数量\nTaiwan Order Qty,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MARKETING SAMPLES\n(from sample yardage),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,销售计划\nSales Plan,2023-,NaN,NaN
7,TWK Photoshoot/\nMarketing,NaN,REP Families,NaN,Kevin & Sales REPs,NaN,Grand Total Marketing & Salesman Samples,NaN,Swatches Qty \n18 x 13 cm,Due Date\n(To be received in Taiwan),...,花型/颜色(CN),Reference # 对应图案总汇编号,NaN,尺码,款式\n版本,订单 \n总数量,台湾总数量,出货日期 ShipDate\n2023-11-30,NaN,NaN
8,Who For?,QTY,Who For?,QTY,Who For?,QTY,NaN,NaN,小样布卡數量 約,截止日期 / 抵達台湾,...,\nColour/Graphic Name in Chinese,Colour & Graphics Ref#,Colour & Graphics Ref#,Size,Design Version,TOTAL ORDER,TW Total Qty,海运数量\nOcean Qty,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,总数量 Total Qty:,1560,1560,1560,NaN,0.0
10,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,...,深蓝,BOOK #66070,#12,2T,NEW 新,10,10,10,NaN,NaN

#### Get sections column index

In [12]:
destination = [x.replace(' ', '').replace('\n', '').replace('：', ':') for x in PO[PO.applymap(lambda x: '总数量' in str(x))].stack().tolist()]
ws = [x for x in destination if x not in ['订单总数量OrderTotal:', '订单总数量', '加拿大总数量', '英国总数量', '德国总数量', '总数量TotalQty:']]
try: (CA_PO_r, CA_PO_c) = PO.where(PO.eq('加拿大总数量')).stack().index.tolist()[0]
except (KeyError, IndexError): (CA_PO_r, CA_PO_c) = (PO.shape[0]+1, PO.shape[1]+1)
try: (UK_PO_r, UK_PO_c) = PO.where(PO.eq('英国总数量')).stack().index.tolist()[0]
except (KeyError, IndexError): (UK_PO_r, UK_PO_c) = (PO.shape[0]+1, PO.shape[1]+1)
try: (DE_PO_r, DE_PO_c) = PO.where(PO.eq('德国总数量')).stack().index.tolist()[0]
except (KeyError, IndexError): (DE_PO_r, DE_PO_c) = (PO.shape[0]+1, PO.shape[1]+1)
try: (CN_PO_r, CN_PO_c) = PO.where(PO.eq('中国总数量')).stack().index.tolist()[0]
except (KeyError, IndexError): (CN_PO_r, CN_PO_c) = (PO.shape[0]+1, PO.shape[1]+1)
try: (WS_PO_r, WS_PO_c) = PO.where(PO.eq(ws[0])).stack().index.tolist()[0]
except (KeyError, IndexError): (WS_PO_r, WS_PO_c) = (PO.shape[0]+1, PO.shape[1]+1)
print(CA_PO_c, UK_PO_c, DE_PO_c, CN_PO_c, WS_PO_c)

26 26 26 26 21

In [13]:
(SKU_r, SKU_c) = PO.where(PO.eq('SKU')).stack().index.tolist()[0]
PO_detail = pd.DataFrame(data = PO.iloc[SKU_r+2:PO.shape[0], SKU_c:PO.shape[1]])
PO_detail.columns = PO.iloc[SKU_r, SKU_c:PO.shape[1]].replace('\n', '', regex = True)
PO_detail['SKU'] = PO_detail['SKU'].str.strip()
PO_detail = PO_detail[PO_detail['SKU'].astype(bool)]
PO_detail.head()
#PO_detail.iloc[:, [WS_PO_c-SKU_c]]

8,SKU,Colour/Graphic Name in English,Colour/Graphic Name in Chinese,Colour & Graphics Ref#,Colour & Graphics Ref#,Size,Design Version,TOTAL ORDER,TW Total Qty,海运数量Ocean Qty,NaN,NaN
10,LBT-DPB-2T,Deep Blue,深蓝,BOOK #66070,#12,2T,NEW 新,10,10,10,NaN,NaN
11,LBT-DPB-3T,Deep Blue,深蓝,NaN,NaN,3T,NEW 新,10,10,10,NaN,NaN
12,LBT-DPB-4T,Deep Blue,深蓝,NaN,NaN,4T,NEW 新,20,20,20,NaN,NaN
13,LBT-DPB-5T,Deep Blue,深蓝,NaN,NaN,5T,NEW 新,30,30,30,NaN,NaN
14,LBT-DPB-6Y,Deep Blue,深蓝,NaN,NaN,6Y,NEW 新,80,80,80,NaN,NaN

In [14]:
cat_list = list(dict.fromkeys(PO_detail['SKU'].replace('-.*', '', regex = True).tolist()))
fac_list = list(dict.fromkeys([factory[x] for x in cat_list]))
cat = ' '.join(cat_list)
fac = ' '.join(fac_list)
print(cat, fac)

LBT LBP LAN JSZT

In [18]:
detail = pd.DataFrame({'TotalPO': PO_detail['TOTAL ORDER'], 'Name': '', 'SKU': PO_detail['SKU'], 'seasons': masterSKU.loc[PO_detail['SKU'].tolist(), 'Seasons'], 'color_EN': PO_detail['Colour/Graphic Name in English'], 'color_CN': PO_detail['Colour/Graphic Name in Chinese'], 'Remain_Pc': PO_detail['TOTAL ORDER'], 'Remain_percent': format(1,'.1%')})
#detail.head()
if total != detail['TotalPO'].sum(): 
    print('ERROR: Total in Pcs does not match.', total, detail['TotalPO'].sum())
subtotal = pd.DataFrame({'PO': [POn[0]], 'CAT': [cat], 'Season': [season], 'Factory': [fac], 'Total': [total], 'Name': [name]})
with pd.ExcelWriter("../PO/" + season + " China to Global Shipment Tracking.xlsx", if_sheet_exists = 'overlay', mode = 'a') as writer:
    subtotal.to_excel(writer, sheet_name = season, startrow = PO_r, startcol = 0, header = None, index = False)
    detail.to_excel(writer, sheet_name = season, startrow = PO_r+1, startcol = Detail_c, header = None, index = False)
#CA_detail = pd.DataFrame({'POplan': PO_detail.iloc[:, [CA_PO_c-SKU_c]], })
#writer.close()
#writer.handles = None